/* SearchBar.css */

/* Contenedor principal */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 8px;
}


.search-bar-input-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}


.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9e9e9e;
  font-size: 1.2rem;
}


.search-input {
  width: 100%;
  padding-left: 40px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}


.search-input:hover {
  border-color: #888;
}
